<a href="https://colab.research.google.com/github/siddhant-dutta/TrueBeaconAssignment/blob/master/TrueBeaconAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
data1 = pd.read_csv("https://raw.githubusercontent.com/siddhant-dutta/TrueBeaconAssignment/master/GivenData/Index_Subset.csv", keep_default_na=False)
data2 = pd.read_csv("https://raw.githubusercontent.com/siddhant-dutta/TrueBeaconAssignment/master/GivenData/Scores_Subset.csv", keep_default_na=False)
data3 = pd.read_csv("https://raw.githubusercontent.com/siddhant-dutta/TrueBeaconAssignment/master/GivenData/Factor.csv")
data1.shape

(2038, 202)

In [2]:
import numpy as np
index = data1.to_numpy()
score = data2.to_numpy()
factor = data3.to_numpy()

#PROBLEM 1

In [3]:
stockNames = data2.columns.values.tolist()

In [4]:
for i in range(2038):
  for j in range(1,376):
    temp = index[i]
    if stockNames[j] in temp:
      continue;
    else:
      score[i][j] = "NAN"
score

array([['2012-01-02', '', '', ..., '', 'NAN', ''],
       ['2012-01-03', '', '', ..., '', 'NAN', ''],
       ['2012-01-04', '', '', ..., '', 'NAN', ''],
       ...,
       ['2020-03-20', 'NAN', 'NAN', ..., '', 'NAN', ''],
       ['2020-03-23', 'NAN', 'NAN', ..., '', 'NAN', ''],
       ['2020-03-24', 'NAN', 'NAN', ..., '', 'NAN', '']], dtype=object)

In [5]:

import csv
with open('/content/UpdatedScores_Subset.csv', 'w') as f:
      
    # using csv.writer method from CSV packag;e
    write = csv.writer(f)
      
    write.writerow(stockNames)
    write.writerows(score)

#PROBLEM 2

In [6]:
entry_chk = False
exit_chk = False
for day in factor:
  if (not entry_chk) and (not exit_chk):
    if day[3]==1 and day[4]==0 :
      entry_chk = True
    elif day[3]==0 and day[4]==1 :
      exit_chk = True
    elif day[3]==1 and day[4]==1 :
      day[3]=0 
      day[4]=0
  elif entry_chk and (not exit_chk):
    if day[3]==1 or day[4]==1:
      day[3] = 0 
      day[4] = 1
      entry_chk=False
      exit_chk=True 
  elif exit_chk and (not entry_chk):
    if day[3]==1 or day[4]==1:
      day[3] = 1 
      day[4] = 0
      entry_chk=True
      exit_chk=False 

factor

array([['10-05-2019', 0.051577221, 10.10832627, 0, 1],
       ['13-05-2019', 0.206216593, 0.452362029, 1, 0],
       ['14-05-2019', 1.504560775, 0.31635137, 0, 1],
       ...,
       ['29-03-2022', 0.942530156, 0.120050542, 0, 0],
       ['30-03-2022', 0.928469345, 0.115932908, 0, 0],
       ['31-03-2022', 0.811384083, 0.109835799, 0, 0]], dtype=object)

In [7]:
columnheaders = data3.columns.values.tolist()
columnheaders
newdf = pd.DataFrame(factor, columns=columnheaders)
newdf.to_csv('/content/UpdatedFactor.csv', index=False)

In [8]:
newdf.head()

         date  Factor_1   Factor_2 Is_Entry Is_Exit
0  10-05-2019  0.051577  10.108326        0       1
1  13-05-2019  0.206217   0.452362        1       0
2  14-05-2019  1.504561   0.316351        0       1
3  15-05-2019  0.933875   0.084322        0       0
4  16-05-2019  0.884364   0.024767        0       0